@import "../../global.scss";

.header {
  width: 100%;
  height: 100px;
  background-color: $mainColor;
  color: white;
 
  //if you want sticky header, uncommented it 

 /* position: sticky;
  top: 0;
  z-index: 3;*/

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    @include mobile{
      justify-content: center;
    }
 }
}
